@inject IHtmlLocalizer<HrAdm.R0> R0
@inject IViewLocalizer R

<script src="~/js/view/XpEasyRpt.js"></script>
<script type="text/javascript">
    $(function () {
        _me.init();
    });
</script>

@await Component.InvokeAsync("XgProgPath", new { names = new string[] { R0["MenuXpEasyRpt"].Value } })
<div class="xp-prog">
    <div id="divRead">
        <form id='formRead' class='xg-form'>
            <div class="row">
                @await Component.InvokeAsync("XiText", new { title = R["RptName"].Value, fid = "Name", inRow = true })
                @await Component.InvokeAsync("XgFindTbar", new { })
            </div>
        </form>

        <div class='xg-btns-box'>
            @await Component.InvokeAsync("XgCreate")
        </div>
        <table id="tableRead" class="table table-bordered xg-table" cellspacing="0">
            <thead>
                <tr>
                    <th>@R["RptName"]</th>
                    <th>@R0["Status"]</th>
                    <th>@R["ExcelTpl"]</th>
                    <th>@R0["Crud"]</th>
                </tr>
            </thead>
            <tbody></tbody>
        </table>
    </div>

    <div id="divEdit" class="xg-hide">
        <form id='eform' class='xg-form'>
            @await Component.InvokeAsync("XiHide", new { fid = "Id" })
            @await Component.InvokeAsync("XiText", new { title = R["RptName"].Value, fid = "Name", maxLen = 100, required = true, cols = "2,4" })
            @await Component.InvokeAsync("XiText", new { title = R["ExcelTpl"].Value, fid = "TplFile", maxLen = 30, required = true, cols = "2,4" })
            @await Component.InvokeAsync("XiText", new { title = R["ToEmail"].Value, fid = "ToEmails", labelTip = R["TipToEmail"].Value, cols = "2,9" })
            @await Component.InvokeAsync("XiTextArea", new { title = "Sql", fid = "Sql", maxLen = 255, required = true, cols = "2,6" })
            @await Component.InvokeAsync("XiCheck", new { title = R0["Status"].Value, fid = "Status", label = R0["Active"].Value })
        </form>

        @await Component.InvokeAsync("XgSaveBack")
    </div>
</div>