
<script src="~/js/view/XpTranLog.js"></script>
<script type="text/javascript">
    $(function () {
        _me.init();
    });
</script>

@await Component.InvokeAsync("XgProgPath", new { names = new string[] { "異動記錄" } })
<div class="xp-prog">
    <div id="divRead">
        <form id='rform' class='xg-form' style="margin-bottom:10px;">
            <div class="row">
                @await Component.InvokeAsync("XiText", new { title = "資料表名稱", fid = "TableName", inRow = true })
                @await Component.InvokeAsync("XgFindTbar", new { hasReset = true })
            </div>
            @await Component.InvokeAsync("XiText", new { title = "欄位名稱", fid = "ColName" })
            @await Component.InvokeAsync("XiText", new { title = "資料Id", fid = "RowId" })
        </form>

        <table id="table1" class="table table-bordered xg-table" cellspacing="0">
            <thead>
                <tr>
                    <th>資料表名稱</th>
                    <th>欄位名稱</th>
                    <th>資料Id</th>
                    <th>異動操作</th>
                    <th>欄位舊值</th>
                    <th>欄位新值</th>
                    <th>異動時間</th>
                </tr>
            </thead>
            <tbody></tbody>
        </table>
    </div>

    @*
    <div id="divEdit" class="xg-hide">
        <partial name="Edit" />
    </div>
    *@
</div>