@{ 
    var cols = _Fun.DefHCols;
}

<form id='eform' class='xg-form'>
	@await Component.InvokeAsync("XiHide", new { fid = "Id" })
	
	@await Component.InvokeAsync("XiSelect", new { title = "請假人", fid = "UserId", rows = (List<IdStrDto>)ViewBag.Users, required = true })
	@await Component.InvokeAsync("XiSelect", new { title = "代理人", fid = "AgentId", rows = (List<IdStrDto>)ViewBag.Users, required = true })
	@await Component.InvokeAsync("XiSelect", new { title = "假別", fid = "LeaveType", rows = (List<IdStrDto>)ViewBag.LeaveTypes, required = true })
	@await Component.InvokeAsync("XiDt", new { title = "開始時間", fid = "StartTime", required = true, cols = "2,8" })
	@await Component.InvokeAsync("XiDt", new { title = "結束時間", fid = "EndTime", required = true, cols = "2,8" })
	@await Component.InvokeAsync("XiNum", new { title = "請假時數", fid = "Hours", required = true, cols = "2,1" })
    @await Component.InvokeAsync("XiFile", new { title = "上傳檔案", fid = "FileName" })
	@await Component.InvokeAsync("XiRead", new { title = "流程狀態", fid = "FlowStatusName" })
	@await Component.InvokeAsync("XiCheck", new { title = "資料狀態", fid = "Status", label = "啟用" })
	@await Component.InvokeAsync("XiRead", new { title = "建檔人員", fid = "CreatorName" })
	@await Component.InvokeAsync("XiRead", new { title = "建檔日期", fid = "Created", format = BrFormatEstr.Dt })
	@await Component.InvokeAsync("XiRead", new { title = "修改人員", fid = "ReviserName" })
	@await Component.InvokeAsync("XiRead", new { title = "修改日期", fid = "Revised", format = BrFormatEstr.Dt })

    <div class="row">
        <div class="col-md-2 xg-label">簽核流程</div>
        <div class="col-md-8 xg-input" id="divSignRows"></div>
    </div>
</form>

@await Component.InvokeAsync("XgSaveBack")

